{% extends 'base.html.twig' %}

{% block title %}Créer un Héros
{% endblock %}

{% block body %}
	<section class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h1>Créer un héros</h1>
			</div>
			<div class="card bg-dark col-10 col-md-9 col-lg-6 mx-auto text-center">
				{{ form_start(HeroeForm)}}
				{{ form_row(HeroeForm.name)}}
				{{ form_row(HeroeForm.description)}}
				{{ form_row(HeroeForm.role)}}

				{{ form_row(HeroeForm.counter)}}

				{{ form_row(HeroeForm.medias)}}
				<button type="submit" class="btn btn-primary btn-lg">Créer</button>
				{{ form_end(HeroeForm)}}
			</div>
		</div>
	</section>
{% endblock %}
