{% extends 'base.html.twig' %}


{% block body %}
	<div class="container">
		<div class="row">
			{% if app.user.username is defined %}
				<div class="col-2 ms-auto">
					<a type="button" class="btn btn-dark mt-3" href="{{ path('app_modify_heroe',{id: heroes.id}) }}">
						<i class="bi bi-pen-fill"></i>

					</a>
					<a type="button" class="btn btn-dark mt-3" href="{{ path('app_delete_heroe',{id: heroes.id}) }}">
						<i class="bi bi-trash-fill"></i>

					</a>
				</div>
			{% endif %}
		</row>
		<div class="row">
			<div class="col-3">
				<h1 class="display-1">
					<i>{{heroes.name}}</i>

				</h1>
			</div>
			<div class="col-9">
				{% if heroes.heroeBackground.media.name is defined %}
					<img class="img-fluid mx-auto d-block rounded" src="{{asset('/uploads/medias/'~ heroes.heroeBackground.media.name)}}" alt="Card image cap"></div>
			{% endif %}
			<div class="col-12">
				<p>{{heroes.description}}</p>
			</div>
		</div>
		<div class="col-12 text-center">
			<h3>
				<i>Capacités</i>
			</h3>
		</div>

		<div class="big-spell">
			<div class="spell-row">
				{% for ability in abilities %}
					<div>
						<div class="wrap-spell text-decoration-none">
							<img class="mx-auto d-block" src="{{asset('/uploads/spellsicons/'~ ability.spellsIcons.name)}}" alt="Card image cap">
							<div class="spell-name">
								<strong>
									<i>
										{{ability.name}}
									</strong>
								</i>

							</div>
						</div>
						<div class="content">
							<p>{{ability.description}}</p>

						</div>
					</div>

				{% endfor %}
			</div>
		</div>

	</div>

	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h3>
					<i class="bi bi-shield-fill">
						{{heroes.name}}
						est counter par :</i>

				</h3>
			</div>
			{% if counters is not same as null %}
				{% for counter in counters %}

					<div class="card bg-dark col-2 mh-500 d-flex align-items-stretch wrap-heroe">
						<a href="{{ path('app_guide',{slug: counter.slug}) }}" class=" text-decoration-none link-light">
							{% if counter.illustrations.medias.name  is defined %}
								<img class="card-img-top" src="{{asset('/uploads/medias/'~ counter.illustrations.medias.name)}}" alt="Card image cap">
							{% else %}
								<img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSioWxL93UsW57DpcTe8HxCKG26b47NsUDXB6-Jd9ZY2icXH8aFptyAB9AbIzEpdg4YGrE&usqp=CAU" alt="Card image cap">
							{% endif %}
							<div class="card-title text-center">
								<strong>
									<h3>{{counter.name}}</h3>
								</strong>
							</div>
						</a>
					</div>
				{% endfor %}
			{% endif %}
		</h3>
	</div>
	<div class="row">
		<div class="col-12 text-center">
			<h3>
				<i class="bi bi-shield-fill">
					{{heroes.name}}
					counter :</i>
				{% if isCountered is not same as null %}
					{% for countered in isCountered %}

						<div class="card bg-dark col-2 mh-500 d-flex align-items-stretch wrap-heroe">
							<a href="{{ path('app_guide',{slug: countered.slug}) }}" class=" text-decoration-none link-light">
								{% if countered.illustrations.medias.name  is defined %}
									<img class="card-img-top" src="{{asset('/uploads/medias/'~ countered.illustrations.medias.name)}}" alt="Card image cap">
								{% else %}
									<img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSioWxL93UsW57DpcTe8HxCKG26b47NsUDXB6-Jd9ZY2icXH8aFptyAB9AbIzEpdg4YGrE&usqp=CAU" alt="Card image cap">
								{% endif %}
								<div class="card-title text-center">
									<strong>
										<h3>{{countered.name}}</h3>
									</strong>
								</div>
							</a>
						</div>
					{% endfor %}
				{% endif %}
			</h3>
		</div>

		<div class="row">
			<div class="col-12 text-center">
				<h3>
					<i class="bi bi-shield-fill">
						{{heroes.name}}
						synergise avec :</i>
					{% if synergies is not same as null %}
						{% for synergy in synergies %}

							<div class="card bg-dark col-2 mh-500 d-flex align-items-stretch wrap-heroe">
								<a href="{{ path('app_guide',{slug: synergy.slug}) }}" class=" text-decoration-none link-light">
									{% if synergy.illustrations.medias.name  is defined %}
										<img class="card-img-top" src="{{asset('/uploads/medias/'~ synergy.illustrations.medias.name)}}" alt="Card image cap">
									{% else %}
										<img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSioWxL93UsW57DpcTe8HxCKG26b47NsUDXB6-Jd9ZY2icXH8aFptyAB9AbIzEpdg4YGrE&usqp=CAU" alt="Card image cap">
									{% endif %}
									<div class="card-title text-center">
										<strong>
											<h3>{{synergy.name}}</h3>
										</strong>
									</div>
								</a>
							</div>
						{% endfor %}
					{% endif %}
				</h3>
			</div>
		</div>
	</h3>
	<div class="col-12">
		<h3>Commentaires</h3>

		{% if app.user.username is defined%}
			<div class="col-12">
				{{ form_start(comForm)}}
				{{ form_row(comForm.content)}}
				<button type="submit" class="btn btn-primary">Publier</button>
				{{ form_end(comForm)}}
			</div><br>
		{% endif %}
		{% for message in messages %}
			<div class="col-12">
				<strong>{{message.users.username}}</strong>
				<i class="grey-text">posté le
					{{message.date|date('d-m-Y H:i:s')}}</i>
				<p>{{message.content}}</p>
				<br>
			{% endfor %}<br>
		</div>
	</div>
</div>{% endblock %}
