{% extends 'base.html.twig' %}


{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h1>
					<i>{{heroes.name}}</i>
				</h1>
			</div>
			<div class="col-12">
				<p>{{heroes.description}}</p>
			</div>
			<div class="col-12 text-center">
				<h3>
					<i>Capacités</i>
				</h3>
			</div>
			<div class="spell-row">
				{% for ability in abilities %}
					<div class="">
						<div class="wrap-spell text-decoration-none">
							<img class="mx-auto d-block" src="{{asset('/uploads/spellsicons/'~ ability.spellsIcons.name)}}" alt="Card image cap">
							<div class="spell-name">
								<strong>
									<i>
										{{ability.name}}
									</strong>
								</i>

							</div>
						</div>
						<div class="content">
							<p>{{ability.description}}</p>

						</div>

					</div>

				{% endfor %}
			</div>
		</div>
	{% endblock %}
